:root{
    font-family: "Manrope";
}

body{
    background-color: hsl(210, 46%, 95%);
}

@media screen and (max-width:768px){
.grid-container{
    grid-template-rows: 4fr 6fr;
    border-radius: 10px ;
    width: 310px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}
#bigpic{
    border-radius: 10px 10px 0px 0px;
    width: 310px;
    object-fit: scale-down;
}



#profile{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2;
    padding-top: 20px;
}

.icon{
    grid-column: 1/1;
    grid-row: 1/span 2;
    grid-row: 1/span 2;
}

.name{
    grid-column:2/span 5;
    grid-row:1/ span 1;


}

.date{
    grid-row:2/span 1 ;
    grid-column: 2/span 5;
}

#share{
    grid-column:7/span 1;
    grid-row: 2/ span 1;
    background-color: hsl(210, 46%, 95%);
   
    border-radius: 50%;
    margin-right:30px;
    margin-bottom:20px;

}
}

@media screen and (min-width:769px){
    .grid-container{
        grid-template-columns: 4fr 6fr;
        border-radius: 10px ;
        width: 800px;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 200px;
        background-color: white;
        display:grid;
    }

    #bigpic{
        border-radius: 10px 0px 0px 10px;
        width: 350px;
        height:100%;
        grid-column: 1/1;
        object-fit: cover;
    }

    .maincontent{
        grid-column:2/1;
        margin-top: 30px;

    }


    .content1{
        margin:20px 30px 10px 30px;
        text-align: left;
        font-weight: 700;
        font-size: 22px;
    }
    
    .content2{
        margin:20px 20px 10px 30px;
        text-align: left;
        padding-bottom: 20px;
        padding-right: 5px;
        font-size: 15px;
        color:hsl(212, 23%, 69%);
    }




#profile{
    display: grid;
    grid-column:2/2;
    grid-row:2/2;

    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2;
    padding-top: 20px;
}

.icon{
    grid-column: 1/1;
    grid-row: 1/span 2;
    grid-row: 1/span 2;
}

.name{
    grid-column:2/span 5;
    grid-row:1/ span 1;


}

.date{
    grid-row:2/span 1 ;
    grid-column: 2/span 5;
}

#share{
    grid-column:7/span 1;
    grid-row: 2/ span 1;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    margin-right:30px;
    margin-bottom:20px;

}
}


main{
    background-color: white;
    border-radius: 10px ;
}





.content1{
    margin:20px 30px 10px 30px;
    text-align: left;
    font-weight: 500;
}

.content2{
    margin:20px 30px 10px 30px;
    text-align: left;
    padding-bottom: 20px;
    font-size: 13px;
    color:hsl(212, 23%, 69%);
}

#profilePic{
    border-radius: 50px;
    width: 50px;
    object-fit: scale-down;
    margin: 0px 10px 10px 30px;
}

#share{
    border-radius: 10px 10px 0px 0px;
    width: 30px;
    object-fit: scale-down;
}

#share:hover{
    cursor: pointer;
}











    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }